@import '../../components/common/variables.less';

.header {
  min-height: 94vh;
  padding: 1em @page-gutter 1.5em;
  align-items: center;
  justify-content: center;
  font-size: @default-font-size;
  color: @default-font-color;
}
