@import 'components/common/variables.less';
@import 'components/common/helpers.less';

body {
  margin: 0;
  font-family: @font-sans;
  font-optical-sizing: auto;
  font-feature-settings: 'tnum' 1, 'cv05' 1;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-weight: 430;
  background-color: @default-bg !important;

  code {
    font-family: @font-mono;
    font-feature-settings: 'tnum' 1, 'zero' 1;
  }
}
